*{
padding:0 ;
margin: 0;
}
body{
    background-color: rgba(192, 221, 255, 0.568);
}
header {
    background-color:rgba(248, 206, 239, 0.8);
    height:80px;
    width:100%;
    position:fixed;    
}

h1{
   color: rgb(122, 198, 233);
   position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
   background-image: url(image/66a228c0-44d3-412a-a5d9-0aecd98f2354.png);
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
    width:210px;
    text-indent: -9999px; 
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li{
    display:inline ;
    margin-right: 6vw;
}

header a{
    background-color: rgba(235, 195, 223, 0.361);
    text-decoration: none;
} 

header a:hover{
    color: rgb(240, 220, 245);
    text-decoration: dashed;
}
.news{
    background-color: rgba(255, 220, 226, 0.842); 
    color: rgba(255, 228, 196, 0.747);
    height:95vh;
    background-image: url(image/1.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction:column; /*直向排列*/
    align-items: center; /*垂直置中*/
    justify-content: center;    /*水平置中*/
}
.news h2{
    font-size: 60px;
    margin: 60px;
}

.news p{
color: rgba(0, 0, 255, 0.479);
font-size: 18px;
margin: 25px 0;
}
.news a{
    color: rgb(49, 61, 228);
    text-decoration: none;
    border: 1px solid plum ;
    padding: 10px 20px;
    border-radius: 5px;
}
.slogan{
    background: color #fd3333;
    color:blue;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    line-height: 1.8em;
}
footer{
    background-color: rgb(241, 202, 221);
    color: black;
    height: 60pt;
    display: flex ;
    justify-content: center;
    align-items: center;
    font: size 14px;
}
.shop{
    display: flex;
}
.shop img{
    width: 50%;
}
.info{
    width: 50%;
    background-color: aliceblue;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;
}